name: "Check banned CLI dynamic deps"
on:
  pull_request_target:
    types: [opened, synchronize, reopened]
  push:
    branches:
      - main
  workflow_dispatch:

defaults:
  run:
    shell: bash


jobs:
  check-dynamic-deps:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        if: ${{ !inputs.SKIP_JOB }}
        with:
          ref: ${{ inputs.GIT_SHA }}

      # This will exit with failure if any of the banned dynamic deps are found.
      - run: ./crates/aptos/scripts/check_dynamic_deps.sh
